<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= @student.nickname %> (<%= @student.family_name %>, <%= @student.given_name %>)</h1>
  </div>
</div>
<div class="row">
  <% @semesters.each do |semester| %>
    <div class="col-md-6">
      <div class="panel panel-<%= semester_panel_label(semester, @courses) %>">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= semester.name %> (<%= semester.start_date.strftime("%-m/%-d/%y") %> - <%= semester.end_date.strftime("%-m/%-d/%y") %>)</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <h3 class="text-primary">Grades</h3>
              <h4>Homework: <%= avg_homework(semester.daily_grades) %>%</h4>
              <h4>Participation: <%= avg_participation(semester.daily_grades) %>%</h4>
              <h4>Quizzes: <%= semester.daily_grades.average(:quiz).to_i %>%</h4>
              <h4>Exams/Projects: <%= semester.daily_grades.average(:exam).to_i %>%</h4>
            </div>
            <div class="col-md-4">
              <h3 class="text-danger">Absences</h3>
              <% semester.daily_grades.where(attendance: 2).each do |absent| %>
                <p><%= absent.classdate.strftime("%m/%d %a") %></p>
              <% end %>
            </div>
            <div class="col-md-3">
              <h3 class="text-warning">Lates</h3>
              <% semester.daily_grades.where(attendance: 1).each do |late| %>
                <p><%= late.classdate.strftime("%m/%d %a") %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4 col-md-offset-4">
      <div class="btn-group btn-group-justified">
        <% if authorized_for_dailygrades(@not_enrolled, @current_semester) %>
          <%= link_to "Check Record", { :controller => "daily_grades", :action => "index", :student => @student.id }, class: "btn btn-primary" %>
          <%= link_to "Current Course", @current_course, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
