<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= @student.nickname %>'s Student Dashboard</h1>
    <h3 class="text-center"><%= @student.family_name %>, <%= @student.given_name %></h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h4>Attendance: <%= @student.daily_grades.first.attendance %></h4>
          <h4 style="text-indent: 5em;">Late: 3/21</h4>
          <h4 style="text-indent: 5em;">Absent: 2/23, 2/24</h4>
          <br>
          <h4>Homework: <%= @student.daily_grades.first.homework %></h4>
        </div>
        <div class="col-md-6">
          <h4>Participation: <%= @student.daily_grades.first.participation %></h4>
          <br>
          <h4>Quizzes: <%= @student.daily_grades.first.quiz %></h4>
          <br>
          <h4>Midterm/Final: <%= @student.daily_grades.first.exam %></h4>
          <%= link_to "Check Record", { :controller => "daily_grades", :action => "index", :student => @student.id }, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
