<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= current_user.username %>'s Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= course.name %></h3>
            </div>
            <div class="panel-body">
              <h3><%= link_to "Attendance", attendance_path(course) %></h3>
              <h3>Participation</h3>
              <h3><%= link_to "Homework", homework_path(course) %></h3>
              <h3>Quizzes</h3>
              <h3>Comments</h3>
              <h3><%= link_to "Class Overview", course %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Past Classes <span class="badge">6</span></h3>
    <h3>Calendar</h3>
    <h3>Student Records <span class="badge">37</span></h3>
    <h3>Final Grade Reports</h3>
    <p><%= link_to "Create Class", new_course_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>
