<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Calendar</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-9 text-right">
    <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>
  </div>
</div>
<%= month_calendar events: @events do |date, events| %>
  <%= date.strftime("%-m/%-d") %>
  <% events.each do |event| %>
    <div>
      <p><%= event.name %> <%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure you want to delete this event?"}, class: "btn btn-xs btn-danger" %></p>
    </div>
  <% end %>
<% end %>
