<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Attendance for <%= @course.name %> | <%= Date.today.to_formatted_s(:long_ordinal) %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Student</th>
          <th>Name</th>
          <th>Present</th>
          <th>Late</th>
          <th>Absent</th>
        </tr>
      </thead>
      <tbody>
        <% @course.students.each do |student| %>
          <tr>
            <td><%= student.nickname %></td>
            <td><%= student.family_name %>, <%= student.given_name %></td>
            <td><%= link_to 'Present', daily_grade_path(student, student.daily_grades.last, daily_grade: { attendance: :present}), method: :patch, class: "btn btn-success" %></td>
            <td><%= link_to 'Late', daily_grade_path(student, student.daily_grades.last, daily_grade: { attendance: :late}), method: :patch, class: "btn btn-warning" %></td>
            <td><%= link_to 'Absent', daily_grade_path(student, student.daily_grades.last, daily_grade: { attendance: :absent}), method: :patch, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
