<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= @student.nickname %>'s Record</h1>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Date</th>
      <th>Attendance</th>
      <th>Participation</th>
      <th>Homework</th>
      <th>Quizzes</th>
      <th>Comments</th>
      <th>Midterm/Final</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_grades.each do |daily_grade| %>
      <tr>
        <td class="text-info"><strong><%= daily_grade.created_at.to_date.to_formatted_s(:long) %></strong></td>
        <td><%= best_in_place daily_grade, :attendance, as: :select, collection: DailyGrade.attendances.keys.map { |w| [w,w] } %></td>
        <td><%= best_in_place daily_grade, :participation, as: :select, collection: DailyGrade.participations.keys.map { |w| [w,w] } %></td>
        <td><%= best_in_place daily_grade, :homework, as: :select, collection: DailyGrade.homeworks.keys.map { |w| [w,w] } %></td>
        <td><%= best_in_place daily_grade, :quiz, html_attrs: { size: '5'} %></td>
        <td><%= best_in_place daily_grade, :comment %></td>
        <td><%= best_in_place daily_grade, :exam, html_attrs: { size: '5'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4 col-md-offset-4">
      <div class="btn-group btn-group-justified">
        <%= link_to "Student Dashboard", @student, class: "btn btn-primary" %>
        <%= link_to "Class Overview", @course, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
