<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= best_in_place @student, :nickname %>'s Record</h1>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Date</th>
      <th>Attendance</th>
      <th>Participation</th>
      <th>Homework</th>
      <th>Quizzes</th>
      <th>Comments</th>
      <th>Midterm/Final</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_grades.each do |daily_grade| %>
      <tr>
        <td><%= link_to daily_grade.created_at.to_date.to_formatted_s(:long), edit_daily_grade_path(:id => daily_grade.id) %></td>
        <td><%= daily_grade.attendance %></td>
        <td><%= daily_grade.participation %></td>
        <td><%= daily_grade.homework %></td>
        <td><%= daily_grade.quiz %></td>
        <td><%= daily_grade.comment %></td>
        <td><%= daily_grade.exam %></td>
      </tr>
    <% end %>
  </tbody>
</table>
