<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Participation: <%= @course.name %> | <%= @daily_grades_date.to_formatted_s(:long_ordinal) %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Students</th>
          <th>Status</th>
          <th>Comments</th>
          <th>Participation</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.nickname %></td>
            <td id="student_<%= student.id %>"><span class="label label-<%= participation_label(student.daily_grades.last.participation) %>"><%= student.daily_grades.last.participation %></span></td>
            <td><%= best_in_place student.daily_grades.last, :comment %></td>
            <td><%= link_to "Good", participation_path(student_id: student, course_id: @course.id, daily_grade: { participation: :good}), remote: true, method: :patch, class: "btn btn-success" %></td>
            <td><%= link_to "Average", participation_path(student_id: student, course_id: @course.id, daily_grade: { participation: :avg}), remote: true, method: :patch, class: "btn btn-warning" %></td>
            <td><%= link_to "Poor", participation_path(student_id: student, course_id: @course.id, daily_grade: { participation: :poor}), remote: true, method: :patch, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
