<h1>Update <%= @course.name %></h1>
<%= simple_form_for @course do |f| %>
  <%= f.input :name %>
  <%= f.label "Change Status" %>
  <%= f.input :current, as: :boolean %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
